/* You can add global styles to this file, and also import other style files */
.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1600px;
  padding-left: 8px;
  padding-right: 8px;
}
