<header class="header">
  <div class="container">
    <div class="header-left">
      <div class="catalog-btn" data-trigger="menu">
        <span class="burger-menu"><span></span><span></span><span></span></span>
        <strong>Каталог прикрас</strong>
        <nav class="header-menu">
          <ul class="header-list">
            <li>
              <a href="" class="header-link">Каблучки</a>
            </li>
            <li>
              <a href="" class="header-link">Сережки</a>
            </li>
            <li>
              <a href="" class="header-link">Браслети</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="header-center">
      <input type="text" placeholder="Пошук" class="search-input" />
    </div>

    <div class="header-right">
      <div class="auth">
        <span class="icon">👤</span>
        <a href="#">Особистий кабінет</a>
      </div>

      <div class="cart">
        <span class="icon">🛍</span>
        <a href="#">Кошик</a>
      </div>
    </div>
  </div>
</header>
